<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="renchaigao.com.zujuba">

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于提高GPS定位速度 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <!-- //地图包、搜索包需要的基础权限 -->


    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 二维码 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 摄像头权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- <uses-feature android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- 自动聚焦权限 -->
    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activity.Center.JoinUsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Place.CreateStoreActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ab40d48d50eaa812dff5ca5930040e56" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".Activity.GaoDeMapActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Normal.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Place.StoreActivity"
            android:label="@string/title_activity_store"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.TeamPart.TeamCreateActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MyTeamActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Place.PlaceListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.TeamPart.TeamActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Normal.AdvertisingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GamePart.World.GameInfoActivity"
            android:label="@string/title_activity_game_info"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GamePart.World.GameWorldActivity"
            android:label="@string/title_activity_game_world"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GamePart.DeepForest.DeepForestGameMainActivity"
            android:label="@string/title_activity_deep_forest_game_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GamePart.DeepForest.DeepForestGameTacticsActivity"
            android:label="@string/title_activity_deep_forest_game_tactics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GamePart.DeepForest.DeepForestGameTacticsAttactActivity"
            android:label="@string/title_activity_deep_forest_game_tactics_attact"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GamePart.DeepForest.DeepForestGameTacticsDefenceActivity"
            android:label="@string/title_activity_deep_forest_game_tactics_defence"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GamePart.DeepForest.DeepForestGameTacticsMoveActivity"
            android:label="@string/title_activity_deep_forest_game_tactics_move"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GamePart.DeepForest.DeepForestGameTacticsExploreActivity"
            android:label="@string/title_activity_deep_forest_game_tactics_explore"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GamePart.DeepForest.DeepForestGameTacticsSettleActivity"
            android:label="@string/title_activity_deep_forest_game_tactics_settle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GamePart.DeepForest.DeepForestGameMessageInfoActivity"
            android:label="@string/title_activity_deep_forest_game_message_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GamePart.DeepForest.DeepForestGameMessageInfoCarmeraActivity"
            android:label="@string/title_activity_deep_forest_game_message_info_carmera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GamePart.DeepForest.DeepForestGameBusinessActivity"
            android:label="@string/title_activity_deep_forest_game_business"
            android:theme="@style/AppTheme.NoActionBar" />
        <service
            android:name=".GamePart.DeepForest.DFGService"
            android:enabled="true"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Message.MessageInfoActivity"
            android:label="@string/title_activity_message_info"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GamePart.DeepForest.DeepForestGmaeSetUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Game.GameBeginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Game.GameReadyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- <activity android:name=".util.Google.zxing.activity.CaptureActivity" -->
        <!-- tools:ignore="InnerclassSeparator"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".Activity.User.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.User.UserSettingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activity.User.UserTeamActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Place.UserPlaceListPageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Normal.StartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".Service.HttpService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Service.GameService"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name=".Activity.Place.UserPlaceManagerActivity"
            android:label="@string/title_activity_place_manager"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Activity.Place.PlaceAddDeskActivity" />
        <activity
            android:name=".Activity.Message.SystemMessageActivity"
            android:label="@string/title_activity_system_message"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>